.dashboard-wrapper{
    background-color:var(--secondary-bg);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-items: center;
}

.contenido{ 
    background-color:white;
    height: 90vh;
    width: 90vw;
    margin:auto;
    border-radius: 15px;
}

nav{ 
    padding: 3vh 0vw;;
    display: flex;
    align-items: center;
}

nav > h1{
    margin:0vh 4vw;
    font-weight: bold;
    color:var(--secondary-bg);
}
nav > div{ 
    margin-left:auto;
    margin-right: 5vw;
}

.username{ 
    font-weight: bolder;
    padding:0vh 16px;
    font-size: 22px;
    font-variant: normal;
}

.filters{
    align-items: center;
    display:flex;
    padding:0vh 2vw;
}

.filters > span{
    font-size: 3em;
    margin:0px 10px;
    color:rgb(85, 84, 84);
}

.dropdown-logout{ 
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    cursor:pointer;

}
.dropdown-logout:hover > div{ 
    opacity: 1;
    top:130%;
}
.dropdown-logout > div{ 
    /* height: 15vh; */
    transition: 0.2s all;
    position: absolute;
    width: 15vw;
    opacity: 0;
    top:100%;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding:2vh 10px;
    background-color:white;
    box-shadow: 2px 2px 15px rgba(0,0,0,0.2);
}
.dropdown-logout > div > .row-text{ 
    transition: 0.1s all;
    cursor:pointer;
    padding-left: 20px;
    /* margin-left:20px; */
}
.dropdown-logout > div > .row-text:hover{   
    background-color:rgba(0,0,0,0.05);
    /* color:white; */
    /* transform: scale(1.02); */
}
.input-select{
    position: relative;
    height: 36px !important;
    border:none !important;
}

.input-select:hover >span{ 
    color:var(--secondary-bg) !important;
    cursor: pointer;
}
.input-select > .dropdown-list{
    position: absolute;
    top:55%;
    width:100%;
    height: 0;
    left:0;
    overflow: hidden;
    transition: 0.2s all;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:white;
    user-select: none;
    padding:4px 0px;
    /* border:1px solid rgba(0,0,0,0.1); */
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    border-radius: 3px;
    opacity: 0;
}
.input-select:focus-within{ 
    outline:none;
    border-color: var(--secondary-bg);
}
.input-select:focus-within > .dropdown-list{ 
    opacity: 1;
    height: max-content;
    top:100%;
    
}

.chekbox-list{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.chekbox-list:hover{
    background-color:rgba(0,0,0,0.1);
    filter: brightness(1.2);
    /* background-color:var(--secondary-bg); */
    /* color:white; */

    /* opacity:0; */
}


.chekbox-list > span{ 
    user-select: none;
    width:100%;
    font-size: 18px;
    text-align: center;
    /* cursor: pointer; */
    /* background-color:var(--secondary-bg); */
}

.chekbox-list > input[type="checkbox"]:checked + .checkbox-text{ 
    background-color:var(--secondary-bg);
    color:white;
}
.chekbox-list > input[type="checkbox"]{
    opacity: 0;
    left:0;
    top:0;
    cursor: pointer;
    width:100%;
    height: 100%;
    position: absolute;
    /* background-color:var(--secondary-bg); */
}